.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.head{
    font-weight: 400;
    font-size: large;
    padding: 2px, 3px;
}
.answer{
    font-weight: 400;
    font-size:medium;
    padding: 2px, 3px;
}